In [2]:
import pandas as pd
import re
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

from keras.models import Sequential,load_model
from keras.layers import Dense,LSTM,Embedding,Dropout
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

import nltk
nltk.download('all')
import string
import re
from nltk.corpus import stopwords
stop = stopwords.words('english')
ps = nltk.PorterStemmer()
lm = nltk.WordNetLemmatizer()
from keras.models import load_model
import pickle

# from google.colab import files
import io

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package alpino to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package alpino is already up-to-date!
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package biocreative_ppi is already up-to-date!
[nltk_data]    | Downloading package brown to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package brown_tei to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package brown_tei is already up-to-date!
[nltk_data]    | Downloading package cess_cat to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cess_cat is already up-to-date!
[nltk_data]    | Downloading package cess_esp to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cess_esp is already up-to-date!
[nltk_data]    | Downloading package chat80 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package city_database to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package cmudict to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package comparative_sentences is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package comtrans to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package comtrans is already up-to-date!
[nltk_data]    | Downloading package conll2000 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package conll2007 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2007 is already up-to-date!
[nltk_data]    | Downloading package crubadan to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package crubadan is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package dolch to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package dolch is already up-to-date!
[nltk_data]    | Downloading package europarl_raw to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package europarl_raw is already up-to-date!
[nltk_data]    | Downloading package floresta to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package floresta is already up-to-date!
[nltk_data]    | Downloading package framenet_v15 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package framenet_v15 is already up-to-date!
[nltk_data]    | Downloading package framenet_v17 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package framenet_v17 is already up-to-date!
[nltk_data]    | Downloading package gazetteers to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package indian to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package indian is already up-to-date!
[nltk_data]    | Downloading package jeita to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package jeita is already up-to-date!
[nltk_data]    | Downloading package kimmo to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package kimmo is already up-to-date!
[nltk_data]    | Downloading package knbc to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package knbc is already up-to-date!
[nltk_data]    | Downloading package lin_thesaurus to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package lin_thesaurus is already up-to-date!
[nltk_data]    | Downloading package mac_morpho to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mac_morpho is already up-to-date!
[nltk_data]    | Downloading package machado to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package machado is already up-to-date!
[nltk_data]    | Downloading package masc_tagged to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package masc_tagged is already up-to-date!
[nltk_data]    | Downloading package moses_sample to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package moses_sample is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package nombank.1.0 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nombank.1.0 is already up-to-date!
[nltk_data]    | Downloading package nps_chat to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package omw to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package opinion_lexicon is already up-to-date!
[nltk_data]    | Downloading package paradigms to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package paradigms is already up-to-date!
[nltk_data]    | Downloading package pil to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pil is already up-to-date!
[nltk_data]    | Downloading package pl196x to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pl196x is already up-to-date!
[nltk_data]    | Downloading package ppattach to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package problem_reports is already up-to-date!
[nltk_data]    | Downloading package propbank to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package propbank is already up-to-date!
[nltk_data]    | Downloading package ptb to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ptb is already up-to-date!
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package product_reviews_1 is already up-to-date!
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package product_reviews_2 is already up-to-date!
[nltk_data]    | Downloading package pros_cons to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pros_cons is already up-to-date!
[nltk_data]    | Downloading package qc to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package qc is already up-to-date!
[nltk_data]    | Downloading package reuters to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package rte to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package rte is already up-to-date!
[nltk_data]    | Downloading package semcor to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package semcor is already up-to-date!
[nltk_data]    | Downloading package senseval to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...

[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package sentiwordnet to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sentiwordnet is already up-to-date!
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sentence_polarity is already up-to-date!
[nltk_data]    | Downloading package shakespeare to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sinica_treebank is already up-to-date!
[nltk_data]    | Downloading package smultron to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package smultron is already up-to-date!
[nltk_data]    | Downloading package state_union to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package subjectivity is already up-to-date!
[nltk_data]    | Downloading package swadesh to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package switchboard to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package switchboard is already up-to-date!
[nltk_data]    | Downloading package timit to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package toolbox to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package treebank to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package udhr to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package universal_treebanks_v20 is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package verbnet to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package verbnet is already up-to-date!
[nltk_data]    | Downloading package verbnet3 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package verbnet3 is already up-to-date!
[nltk_data]    | Downloading package webtext to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wordnet to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package ycoe to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ycoe is already up-to-date!
[nltk_data]    | Downloading package rslp to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package rslp is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package book_grammars to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sample_grammars is already up-to-date!
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package spanish_grammars is already up-to-date!
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package basque_grammars is already up-to-date!
[nltk_data]    | Downloading package large_grammars to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package large_grammars is already up-to-date!
[nltk_data]    | Downloading package tagsets to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package snowball_data to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package bllip_wsj_no_aux is already up-to-date!
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package word2vec_sample is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package mte_teip5 to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mte_teip5 is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger_ru is already
[nltk_data]    |       up-to-date!
[nltk_data]    | Downloading package perluniprops to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package perluniprops is already up-to-date!
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nonbreaking_prefixes is already up-to-date!
[nltk_data]    | Downloading package vader_lexicon to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package vader_lexicon is already up-to-date!
[nltk_data]    | Downloading package porter_test to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package porter_test is already up-to-date!
[nltk_data]    | Downloading package wmt15_eval to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wmt15_eval is already up-to-date!
[nltk_data]    | Downloading package mwa_ppdb to C:\Users\Pratik
[nltk_data]    |     Temkar\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mwa_ppdb is already up-to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection all

In [3]:
data1=pd.read_csv("SIH2020_Dataset (1).csv",encoding= 'unicode_escape')
data1=data1.sample(frac=1).reset_index(drop=True)
print(data1.shape)
data1.head()

(4015, 3)

                                       module output  emotion     label
0  Having just finished a long journey through "T...  neutral   Neutral
1  I do love sushi, but I found Kabuki to be over...  Neutral   Neutral
2                     Rattle our hearts when we hear     love   neutral
3  Next month is the dedication of the new Phoeni...  neutral   neutral
4  I LOVED their mussels cooked in this wine redu...  Neutral  Positive

In [4]:
data1.shape

(4015, 3)

In [5]:
data1=data1[['module output','label']]
data1.head()

                                       module output     label
0  Having just finished a long journey through "T...   Neutral
1  I do love sushi, but I found Kabuki to be over...   Neutral
2                     Rattle our hearts when we hear   neutral
3  Next month is the dedication of the new Phoeni...   neutral
4  I LOVED their mussels cooked in this wine redu...  Positive

In [6]:
data2 = pd.read_csv('Tweets.csv')
data2 = data2.sample(frac=1).reset_index(drop=True)
print(data2.shape)
data2.head()

(14640, 15)

,tweet_id,label,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,module output,tweet_coord,tweet_created,tweet_location,user_timezone
0,5.691170e+17,negative,1.0000,Flight Booking Problems,0.6714,US Airways,NaN,shaun_g,NaN,0,@USAirways bumping people off a flight ten min...,NaN,2015-02-21 04:52:07 -0800,Nairobi,Nairobi
1,5.685330e+17,neutral,1.0000,NaN,NaN,United,NaN,NoviceFlyer,NaN,0,@united can I access Frankfurt arrival lounge ...,NaN,2015-02-19 14:11:33 -0800,"Tulsa, OK",Central Time (US & Canada)
2,5.698290e+17,neutral,0.6849,NaN,0.0000,American,NaN,ThatsKathalina,NaN,0,"@AmericanAir , CHECK DM PLEASE!",NaN,2015-02-23 04:00:50 -0800,NaN,Eastern Time (US & Canada)
3,5.696440e+17,neutral,1.0000,NaN,NaN,Southwest,NaN,TaylorLumsden,NaN,0,@SouthwestAir still planing on flights into Da...,NaN,2015-02-22 15:46:26 -0800,"Dallas, Texas",Mountain Time (US & Canada)
4,5.696490e+17,positive,1.0000,NaN,NaN,American,NaN,hautetravelgirl,NaN,0,@AmericanAir many trips coming up! I will see...,NaN,2015-02-22 16:05:16 -0800,"Santa Monica, CA",NaN

In [7]:
data2 = data2[['module output', 'label']]
data2.head()

                                       module output     label
0  @USAirways bumping people off a flight ten min...  negative
1  @united can I access Frankfurt arrival lounge ...   neutral
2                    @AmericanAir , CHECK DM PLEASE!   neutral
3  @SouthwestAir still planing on flights into Da...   neutral
4  @AmericanAir many trips coming up!  I will see...  positive

In [8]:
data2['module output'] = data2['module output'].str.replace('@VirginAmerica', '')
data2.head()

                                       module output     label
0  @USAirways bumping people off a flight ten min...  negative
1  @united can I access Frankfurt arrival lounge ...   neutral
2                    @AmericanAir , CHECK DM PLEASE!   neutral
3  @SouthwestAir still planing on flights into Da...   neutral
4  @AmericanAir many trips coming up!  I will see...  positive

In [9]:
data2['module output'].apply(lambda x: x.lower()) #transform text to lowercase
data2['module output'] = data2['module output'].apply(lambda x: re.sub('[^a-zA-z0-9\s]', '', x))
data2['module output'].head()

0    USAirways bumping people off a flight ten minu...
1    united can I access Frankfurt arrival lounge w...
2                         AmericanAir  CHECK DM PLEASE
3    SouthwestAir still planing on flights into Dal...
4    AmericanAir many trips coming up  I will see y...
Name: module output, dtype: object

In [10]:
data3=pd.read_csv("sample_dataset_given.csv",encoding= 'unicode_escape')
data3=data3.sample(frac=1).reset_index(drop=True)
print(data3.shape)
data3.head()

(104, 3)

                                       module output    Emotion     label
0  Axis bank credit card department no work from ...      worry   neutral
1                           Bangalore is a good city  happiness  positive
2  OMG! Current windoswap window has DOGGOS in it...  happiness  positive
3                              Just retweet no likes      empty   neutral
4                Can it be delivered to Bangalore???      worry   neutral

In [11]:
data3=data3[['module output','label']]
data3.head()

                                       module output     label
0  Axis bank credit card department no work from ...   neutral
1                           Bangalore is a good city  positive
2  OMG! Current windoswap window has DOGGOS in it...  positive
3                              Just retweet no likes   neutral
4                Can it be delivered to Bangalore???   neutral

In [12]:
data4=pd.read_csv("positive.csv",encoding= 'unicode_escape')
data4=data4.sample(frac=1).reset_index(drop=True)
print(data4.shape)
data4.head()

(1957, 2)

     module output     label
0         defender  positive
1  resourcefulness  positive
2           nicely  positive
3       rectifying  positive
4          fastest  positive

In [13]:
data4=data4[['module output','label']]
data4.head()

     module output     label
0         defender  positive
1  resourcefulness  positive
2           nicely  positive
3       rectifying  positive
4          fastest  positive

In [14]:
data5=pd.read_csv("negative.csv",encoding= 'unicode_escape')
data5=data5.sample(frac=1).reset_index(drop=True)
print(data5.shape)
data5.head()

(4781, 2)

    module output     label
0       strangely  negative
1  indoctrination  negative
2    inadverently  negative
3   irresponsibly  negative
4           junky  negative

In [15]:
data5=data5[['module output','label']]
data5.head()

    module output     label
0       strangely  negative
1  indoctrination  negative
2    inadverently  negative
3   irresponsibly  negative
4           junky  negative

In [16]:
ar_x = pd.DataFrame(data1['module output'])
print(ar_x)
ar_y = pd.DataFrame(data1['label'])
print(ar_y)

                                          module output
0     Having just finished a long journey through "T...
1     I do love sushi, but I found Kabuki to be over...
2                        Rattle our hearts when we hear
3     Next month is the dedication of the new Phoeni...
4     I LOVED their mussels cooked in this wine redu...
...                                                 ...
4010                                  This is my family
4011                      Let's go to see the new movie
4012         Nothing is more important than your health
4013     Service was fine and the waitress was friendly
4014              The reception has been generally good

[4015 rows x 1 columns]
         label
0      Neutral
1      Neutral
2      neutral
3      neutral
4     Positive
...        ...
4010  Positive
4011  Positive
4012  Positive
4013  Positive
4014  Positive

[4015 rows x 1 columns]

In [17]:
br_x = pd.DataFrame(data2['module output'])
print(br_x)
br_y = pd.DataFrame(data2['label'])
print(br_y)

                                           module output
0      USAirways bumping people off a flight ten minu...
1      united can I access Frankfurt arrival lounge w...
2                           AmericanAir  CHECK DM PLEASE
3      SouthwestAir still planing on flights into Dal...
4      AmericanAir many trips coming up  I will see y...
...                                                  ...
14635  united Flight is awful only one lavatory funct...
14636         USAirways Will you pick up your phone then
14637  united How is this considered on time if its a...
14638  AmericanAir Will my us air points now be combi...
14639  USAirways so am I supposed to discuss this mat...

[14640 rows x 1 columns]
          label
0      negative
1       neutral
2       neutral
3       neutral
4      positive
...         ...
14635  negative
14636   neutral
14637  negative
14638   neutral
14639  negative

[14640 rows x 1 columns]

In [18]:
dr_x = pd.DataFrame(data3['module output'])
print(dr_x)
dr_y = pd.DataFrame(data3['label'])
print(dr_y)

                                         module output
0    Axis bank credit card department no work from ...
1                             Bangalore is a good city
2    OMG! Current windoswap window has DOGGOS in it...
3                                Just retweet no likes
4                  Can it be delivered to Bangalore???
..                                                 ...
99   Retweet if you're participating in the trend a...
100                                COME-ON BALD LEGEND
101               Bangalore Apexlegends I love youuu\r
102  have not received this order. Placed 11 days b...
103  Live in Palo Duro Canyon, Texas, USA . Playing...

[104 rows x 1 columns]
        label
0     neutral
1    positive
2    positive
3     neutral
4     neutral
..        ...
99    neutral
100   neutral
101  positive
102   neutral
103  positive

[104 rows x 1 columns]

In [19]:
er_x = pd.DataFrame(data4['module output'])
print(er_x)
er_y = pd.DataFrame(data4['label'])
print(er_y)

        module output
0            defender
1     resourcefulness
2              nicely
3          rectifying
4             fastest
...               ...
1952   accomplishment
1953           adroit
1954          hardier
1955        imaculate
1956       complement

[1957 rows x 1 columns]
         label
0     positive
1     positive
2     positive
3     positive
4     positive
...        ...
1952  positive
1953  positive
1954  positive
1955  positive
1956  positive

[1957 rows x 1 columns]

In [20]:
fr_x = pd.DataFrame(data5['module output'])
print(fr_x)
fr_y = pd.DataFrame(data5['label'])
print(fr_y)

        module output
0           strangely
1      indoctrination
2        inadverently
3       irresponsibly
4               junky
...               ...
4776          dullard
4777   procrastinates
4778  inconsequential
4779             snob
4780         bastards

[4781 rows x 1 columns]
         label
0     negative
1     negative
2     negative
3     negative
4     negative
...        ...
4776  negative
4777  negative
4778  negative
4779  negative
4780  negative

[4781 rows x 1 columns]

In [21]:
x_feature = pd.concat([ar_x, br_x,dr_x,er_x, fr_x],ignore_index=True)
print(x_feature.shape)
y_feature = pd.concat([ar_y, br_y,dr_y,er_y, fr_y],ignore_index=True)
print(y_feature.shape)

(25497, 1)
(25497, 1)

In [22]:
def clean_text1(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    # text = "".join([word for word in text if word.isalpha()])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word.isalpha()]
    text = " ".join([lm.lemmatize(word) for word in text if word not in stop])
    return text

In [23]:
x_feature['body']=x_feature['module output'].apply(lambda x:clean_text1(x))
x_feature.head()

,module output,body
0,"Having just finished a long journey through ""T...",finished long journey cloister walk consider q...
1,"I do love sushi, but I found Kabuki to be over...",love sushi found kabuki overpriced overhip und...
2,Rattle our hearts when we hear,rattle heart hear
3,Next month is the dedication of the new Phoeni...,next month dedication new phoenix arizon templ...
4,I LOVED their mussels cooked in this wine redu...,loved mussel cooked wine reduction duck tender...

In [24]:
tokenizer = Tokenizer(num_words=20000, split=" ")
tokenizer.fit_on_texts(x_feature['body'].values)

X = tokenizer.texts_to_sequences(x_feature['body'].values)
#print(X)
X = pad_sequences(X) # padding our text vector so they all have the same length
X[:5]

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0, 2813,  117, 1540, 7102, 1313, 1080,
        3217,  570, 7103,  860, 7104],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,   71, 1541,
         283, 7105, 1622, 7106, 7107],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0, 3817,  672,  387],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,   92,  253, 2814,   75,
         798, 7108, 1542,   92,  151],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,  754, 7109, 2279, 1623, 4783,
        3218, 2115, 1830, 1081,  889]])

In [25]:
len(tokenizer.index_word)

19060

In [26]:
y_feature['label1']=y_feature['label'].apply(lambda x:clean_text1(x))

In [27]:
with open('tokenizer_final5.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [28]:
len(tokenizer.word_counts)

19060

In [29]:
model = Sequential()
model.add(Embedding(20000, 128, input_length=X.shape[1]))
model.add(Dropout(0.4))
model.add(LSTM(128, return_sequences=True, dropout=0.4, recurrent_dropout=0.3))
model.add(LSTM(128, dropout=0.4, recurrent_dropout=0.3))
model.add(Dense(3, activation='softmax'))

In [30]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 27, 128)           2560000
_________________________________________________________________
dropout (Dropout)            (None, 27, 128)           0
_________________________________________________________________
lstm (LSTM)                  (None, 27, 128)           131584
_________________________________________________________________
lstm_1 (LSTM)                (None, 128)               131584
_________________________________________________________________
dense (Dense)                (None, 3)                 387
=================================================================
Total params: 2,823,555
Trainable params: 2,823,555
Non-trainable params: 0
_________________________________________________________________

In [31]:
y_feature['label1'].shape

(25497,)

In [32]:
y = pd.get_dummies(y_feature['label1']).values
[print(y_feature['label1'][i], y[i]) for i in range(0,8)]

neutral [0 1 0]
neutral [0 1 0]
neutral [0 1 0]
neutral [0 1 0]
positive [0 0 1]
neutral [0 1 0]
positive [0 0 1]
positive [0 0 1]

[None, None, None, None, None, None, None, None]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [34]:
X[:2]

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0, 2813,  117, 1540, 7102, 1313, 1080,
        3217,  570, 7103,  860, 7104],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,   71, 1541,
         283, 7105, 1622, 7106, 7107]])

In [35]:
model.output_shape

(None, 3)

In [36]:
batch_size = 32
epochs = 12
# es_callback = EarlyStopping(monitor='val_loss', patience = 4)

# model.fit(X_train, y_train, callbacks = [es_callback], verbose = 1)
model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=2)

Epoch 1/12
638/638 - 65s - loss: 0.7527 - accuracy: 0.6745
Epoch 2/12
638/638 - 68s - loss: 0.5021 - accuracy: 0.8059
Epoch 3/12
638/638 - 63s - loss: 0.3375 - accuracy: 0.8801
Epoch 4/12
638/638 - 65s - loss: 0.2766 - accuracy: 0.9006
Epoch 5/12
638/638 - 67s - loss: 0.2347 - accuracy: 0.9168
Epoch 6/12
638/638 - 70s - loss: 0.2036 - accuracy: 0.9258
Epoch 7/12
638/638 - 65s - loss: 0.1825 - accuracy: 0.9328
Epoch 8/12
638/638 - 65s - loss: 0.1655 - accuracy: 0.9407
Epoch 9/12
638/638 - 65s - loss: 0.1479 - accuracy: 0.9471
Epoch 10/12
638/638 - 66s - loss: 0.1375 - accuracy: 0.9483
Epoch 11/12
638/638 - 75s - loss: 0.1266 - accuracy: 0.9527
Epoch 12/12
638/638 - 80s - loss: 0.1134 - accuracy: 0.9565

In [37]:
predictions = model.predict(X_test)
[print(x_feature['body'][i], predictions[i], y_test[i]) for i in range(0, 5)]

finished long journey cloister walk consider qualified provide objective review psalm [9.9981147e-01 1.4869921e-04 3.9776423e-05] [1 0 0]
love sushi found kabuki overpriced overhip underservices [0.22297207 0.4973709  0.27965695] [1 0 0]
rattle heart hear [0.00112205 0.00373175 0.9951462 ] [0 0 1]
next month dedication new phoenix arizon temple next year [0.2869711  0.37934625 0.33368263] [1 0 0]
loved mussel cooked wine reduction duck tender potato dish delicious [9.9977261e-01 2.0539996e-04 2.1998099e-05] [1 0 0]

[None, None, None, None, None]

In [38]:
pos_count, neu_count, neg_count = 0, 0, 0
real_pos, real_neu, real_neg = 0, 0, 0
for i, prediction in enumerate(predictions):
    if np.argmax(prediction)==2:
        pos_count += 1
    elif np.argmax(prediction)==1:
        neu_count += 1
    else:
        neg_count += 1
    
    if np.argmax(y_test[i])==2:
        real_pos += 1
    elif np.argmax(y_test[i])==1:    
        real_neu += 1
    else:
        real_neg +=1

print('Positive predictions:', pos_count)
print('Neutral predictions:', neu_count)
print('Negative predictions:', neg_count)
print('Real positive:', real_pos)
print('Real neutral:', real_neu)
print('Real negative:', real_neg)

Positive predictions: 1349
Neutral predictions: 1060
Negative predictions: 2691
Real positive: 1199
Real neutral: 846
Real negative: 3055

In [39]:
model.save('sentiment_analysis.h5')